<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "widget/seo.njk" %}
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/new.css' | url }}">
  </head>
  <body>
  <div class="container">
  <div class="row">
{% include "widget/nav.njk" %}
<div class="row">