    <div class="col-md-12 p-3 p-md-5">
    <div class="row grape rounded text-white">
  <div class="col-md-4 p-3 p-md-5">
    <img class="img-fluid" loading="lazy" width="100% height="100%" alt="{{metadata.title}}" src="{{metadata.cover}}"/>
    </div>
  <div class="col-md-8 p-3 p-md-5">
    <h3><strong><a href="/" class="text-white">{{metadata.order}}</a></strong></h3>
    <p>{{metadata.ordertext}}</p>
    <p><a href="{{metadata.link}}" class="btn btn-light">{{metadata.btn}}</a></p>
    </div>
    </div>
    </div>