{% include "home/intro.njk" %}  
{% include "home/desktop.njk" %}  
{% include "home/cloud.njk" %} 
{% include "home/app.njk" %}
{% include "home/web.njk" %}
{% include "home/wa.njk" %}
{% include "home/content.njk" %}